.adding-to-cart {
  margin-top: 100px;
  margin-bottom: auto;
  width: 100px;
}

.btn-success {
  border-radius: 5px;
  color: white !important;
}

.btn-info {
  border-radius: 5px !important;
  background-color: rgb(251, 212, 109) !important;
}

.favourite-icon {
  color: white;
}

.img-container {
  height: 100%;
}

#add-to-cart {
  width: 2000px;
}

.color-white {
  color: white !important;
}
.card-title {
  font-size: 25px;
}

.btn-yellow {
  background-color: rgb(251, 212, 109);
  border-radius: 5px;
}

@media (max-width: 425px) and (min-width: 320px) {
  .p-3 {
    padding: 10px !important;
    word-wrap: break-word;
  }
  .p-4 {
    padding: 10px !important;
  }

  p {
    font-size: 12px !important;
  }
  h1 {
    font-size: 18px !important;
  }
}
